@media (max-width: 600px) {
    .card {
        width: 100vw;
        min-width: 300px;
        margin: 10px;
    }
}

@media (min-width: 601px) and (max-width: 960px) {
    .card {
        width: 47vw;
        margin: 10px;
    }
}

@media (min-width: 961px) {
    .card {
        width: 17vw;
        min-width: 300px;
        margin: 15px;
    }
}

.audiobooks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-body {
    display: flex;
    flex-flow: column;
    margin: 10px;
 }
.card-title {
    font-size: medium;
    font-weight: bold;
}
.card-subtitle {
    font-size: medium;
}
.card-text {
    font-size: small;
}
.cover {
    display:block;
    width:100%;
    img {    
        width:100px;
    }
}
