/* @media (max-width: 640px) {
  
} */

.modal{
    display:block;
    position:fixed;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    .modal-overlay {
      background-color: rgba(0,0,0,.3);
      position:absolute;
      display: block;
      top:0px;
      left:0px;
      bottom:0px;
      right:0px;
    }
    .modal-box {
      position: relative;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      background-color: white;
      width: 50%;
      .modal-header{
        display:flex;
        align-items: center;
        background: linear-gradient(
        to top,
        rgba(0,0,13,0.85), 
        rgba(0,0,13,1) 
        );
        max-height: 36px;
      }
      .modal-content{
        max-width: 50vw;
        margin: auto;
        padding: 15px 25px 0 25px;
        font-size: medium;
        *{
          padding: 0 10px 0 10px;
        }
      }
    }
  }
