@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
:root {
--font-sans: "Nunito";
  margin: 0px;
  padding: 0px;
}

@media (max-width: 600px) {
  .page-content {
      background-color:rgba(240,248,255,1);
  }
}

@media (min-width: 601px) and (max-width: 960px) {
  .page-content {
    background-color:rgba(240,248,255,0.9);
  }
}

@media (min-width: 961px) {
  .page-content {
    background-color:rgba(240,248,255,0.8);
}
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

.page-content{
  display:block;
  // padding: 1rem;
  // justify-content: center;
  // max-width: 1280px;
  margin: 0 auto;
  font-family: var(--font-sans);
  margin-top: 72px;
}

.header {
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  height: 72px;
  z-index:1;
  background: linear-gradient(
    to top,
    rgba(0,0,13,0.85), 
    rgba(0,0,13,1) 
    );
  display: flex;
  align-items: center;
  justify-content: center;

  .search-box{
    margin:0 10px 0 10px;
  }
}

.content{ 
  margin: 10px;
}

.title {
  font-size: larger;
  font-weight: 400;
  color: white;
  margin-top: .5rem;
} 
